.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}
/* The sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #f1f1f1;
}
/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
/* The button used to open the sidebar */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}
.openbtn:hover {
    background-color: #444;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}
* {
    box-sizing: border-box;
}
.column {
    
    width: 50%;
    padding: 0 10px;
    margin: 10px;
}

/* Responsive columns */
@media screen and (max-width: 1000px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
}
/* Style the counter cards */
.card {
    box-shadow: 5px 5px 10px;
    padding: 0px;
    text-align: center;
    
    
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -2px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


  
  /* Hide the images by default */
.image {
    
    width: 100vw;
    height: 80vh;
}
  
  /* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

#myImg {
    cursor: pointer;
    transition: 0.3s;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 10px 10px 5px grey;
    
}

#myImg:hover {opacity: 0.8;}

.modal-dialog {
    width: 100vw;
    height:100vh;
}


/* Add Animation */
.modal-content {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
    overflow: auto;
    background-image: url(../images/img1.jpg);
    
    padding: 10px;
    margin: 10px;
    border: 10px;

}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 50px;
    color: maroon;
    font-size: 50px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: blue;
    text-decoration: none;
    cursor: pointer;
}
@media screen and (max-width: 1000px) {
    .carousel-inner {
      
        width: 100vw;
        height: 80vh;
        
    }
.carousel-caption {
    font-size: 40px;
    font-family: cursive;
    font-weight: bolder;
    color: #79BEA8;
}
p {
    font-size: 35px;
    font-family: cursive;
    font-weight: bolder;
    color:#79BEA8;
}
h1 {
    font-size: 40px;
    font-family: cursive;
    font-weight: bolder;
    color: #79BEA8;
}
.picture-circle {
    border-radius: 100%;
    width: 200px;
    height: 200px;

}
.column-66 {
    float: left;
    width: 66.66666%;
    padding: 20px;
}
  
.column-33 {
    float: left;
    width: 33.33333%;
    padding: 20px;
}
@media screen and (max-width: 1000px) {
    .column-66,
    .column-33 {
        float: left;
     
    }
    
}

.dropdown.dropdown-md .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-md .dropdown-menu {
        min-width: 500px;
    }
}