{%extends 'hood/base.html'%}
{% load bootstrap3%}
{% load static %}

{%block content%}
{{block.super}}
<div class="profile">
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3 left">
            {%if profile.profile_pic%}
            <img class="profile-circle" src="{{profile.profile_pic.url}}" alt="">
            {%else%}
            <img class="profile-circle"src="{%static 'images/profile_placeholder.jpg'%}" style="width: 200px; height: 200px;">
            {%endif%}    
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 right">
            <div class="name-buttons">
                <h1 class="username">{{user.username}}</h1>
                <h2 class="email">{{profile.email}}</h2>
                {%if request.user == user%}
                <!-- <a href="{%url 'profile_setting' %}">
                <button class="profile_setting">Edit profile</button>
                </a> -->
                {%endif%} 

            </div>
            <div class="description">
                <p>{% if profile.bio %}{{ profile.bio }}{% endif %}</p>
            </div>
            <div class="location">
                <p>Location: {{profile.hood.location}}</p>

            </div>
            
        </div>